NEXT_PUBLIC_APP_NAME=WalProof

NEXT_PUBLIC_SUI_NETWORK=mainnet
NEXT_PUBLIC_TATUM_SUI_RPC_MAINNET=https://sui-mainnet.gateway.tatum.io
NEXT_PUBLIC_TATUM_SUI_RPC_TESTNET=https://sui-testnet.gateway.tatum.io
NEXT_PUBLIC_TATUM_SUI_RPC_DEVNET=https://sui-devnet.gateway.tatum.io

TATUM_API_KEY=

NEXT_PUBLIC_WALPROOF_PACKAGE_ID=
NEXT_PUBLIC_WALPROOF_REGISTRY_MODULE=registry

NEXT_PUBLIC_WALRUS_NETWORK=mainnet
WALRUS_PUBLISHER_URL=
WALRUS_AGGREGATOR_URL=https://aggregator.walrus-mainnet.walrus.space
WALRUS_UPLOAD_RELAY_URL=https://upload-relay.mainnet.walrus.space
NEXT_PUBLIC_WALRUS_UPLOAD_RELAY_URL=https://upload-relay.mainnet.walrus.space

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
